* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {

    font-family: Raleway,sans-serif;
    color: rgb(47, 96, 121);
  }
  header{

      background-color: #15364c;
      height: 620px;
      nav{
          padding: 20px 0;
          display: flex;
          justify-content: space-between;
          .nav-brand{
              h3{
                 color: #fff; 
                 font-size: 17px;
                 line-height: 19px;
                 /* margin-right: 20px; */
                //  font-family: brandon-grotesque, sans-serif;
                font-family: 'Josefin Sans', sans-serif;
                 font-weight: bold;
                 font-weight: 600;
                 letter-spacing: 1.66px;
                 width: auto;
                 text-decoration: none;
                 border-bottom: 2px solid #fff;
                 
              }
          }
          .menu-bar{
              i{
                  font-size: 25px;
                  color: #fff;
              }
          }
      }
      .bg-banner{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 80px;
        padding-bottom: 30px;
        
      }
      .scroll-down{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 36px;
      }
    
    
     }
  .bg-img{
    display: flex;
   img{
    width: 100%; 
   }  
  }

.section_one{
    padding: 20px 0;
    h1{
        font-family: 'Roboto', sans-serif;
    font-size: 45px;
    text-shadow: brown;
    // text-shadow: 2px 2px #e9d2cf;
    text-shadow: 1px 1px 0px #ffffff, 2px 3px 0px #e9d2cf;
    color: #15364c;
    font-weight: 800;
    }
    h2{
        position: relative;
        z-index: 1;
    span{
        display: inline-block;
        padding: 0 15px;
        margin: 0 auto;
        font-size: 22px;
        font-weight: 500;
        font-family: 'Josefin Sans', sans-serif;
        line-height: 1.7;
        color: #15364C;
        z-index: 1;
        background: #fff;
        letter-spacing: 1.77px;
    }
    &:before{
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            content: "";
            background-color: #e7e7e7;
            pointer-events: none;
            z-index: -1;
        }
    }
    .border-s{
        position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            content: "";
            background-color: #e7e7e7;
            pointer-events: none;   
    }
    .sec-banner{
        img{
            width: 100%;
        }
    }
    .buttn-cntre{
        display: flex;
        justify-content: center;
    }
    .desc{
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    line-height: 2;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    color: #2f6079;
    }
    .design-wrap{
        display: flex;
        
        .wrap-img{
            width: 250px;
            vertical-align: top;
            margin: 0 auto;
            margin-right: 40px;
        }
        .wrap-text{
            // font-size: 16px;
            font-family: sofia-pro;
            font-weight: 300;
            font-style: normal;
            line-height: 1.6;
            padding-right: 25px;
            max-width: 60%;
            p{
                font-size: 17px;  
                text-align: left;
                font-family: 'Roboto';
            }
        }
    }
    .design-img{
        display: flex;
    align-items: center;
    justify-content: center;
    }
}

.section_two{
    // padding: 70px 0;
    background: #f9f6f4;
    h2{
        position: relative;
        z-index: 1;
        span{
            display: inline-block;
            padding: 0 15px;
            margin: 0 auto;
            font-size: 22px;
            font-weight: 500;
            font-family: 'Josefin Sans', sans-serif;
            line-height: 1.7;
            color: #15364C;
            background: #f9f6f4;
            letter-spacing: 1.77px;
        }
    &:before{
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            content: "";
            background-color: #e7e7e7;
            pointer-events: none;
            z-index: -1;
        }
    }
    .showcase-img{
        position: relative;
        &:before{
            position: absolute;
            top: 2px;
            left: 0px;
            width: 93%;
            height: 100%;
            content: "";
            background: url('../img/before-blue.png') no-repeat bottom right / contain;
            pointer-events: none;
            fill: black;
            z-index: 1;
        }
        .img-bg{
            position: relative;
            z-index: 6;
            
             }
    }
    .showcase-img-white{
        position: relative; 
        z-index: 55;
            &:before{
                position: absolute;
                top: 2px;
                left: 0px;
                width: 93%;
                height: 100%;
            content: "";
            background: url('../img/before-white.png') no-repeat bottom right / contain;
            pointer-events: none;
            fill: black;
            z-index: 1;
                } 
                .img-bg{
               position: relative;
               z-index: 6;
              
                }
    }
    .showcase-text{
        text-align: left;
        text-align: left;
    font-size: 17px;
    line-height: 1.3;
    }
    
}
  
.section_three{
    padding: 70px 0; 
    h2{
        position: relative;
        z-index: 1;
    span{
        display: inline-block;
        padding: 0 15px;
        margin: 0 auto;
        font-size: 22px;
        font-weight: 500;
        font-family: 'Josefin Sans', sans-serif;
        line-height: 1.7;
        color: #15364C;
        z-index: 1;
        text-transform: uppercase;
        background: #fff;
    }
    &:before{
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            content: "";
            background-color: #e7e7e7;
            pointer-events: none;
            z-index: -1;
        }
    }
    // 
    h3{
        font-size: 22px;
    font-family: Raleway, sans-serif;
    line-height: 1.2;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #15364C;
    }
    .text-secondary{
        font-size: 17px;
        line-height: 1.7;
    }
    .buttn-cntre{
        display: flex;
        justify-content: center;  
    }  
}
.section_four{
    // padding: 70px 0;
    background: #f9f6f4;
    h2{
        position: relative;
        z-index: 1;
        span{
            display: inline-block;
            padding: 0 15px;
            margin: 0 auto;
            font-size: 22px;
            font-weight: 500;
            font-family: 'Josefin Sans', sans-serif;
            line-height: 1.7;
            color: #15364C;
            background: #f9f6f4;
            letter-spacing: 1.77px;
        }
        &:before{
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 1px;
                content: "";
                background-color: #e7e7e7;
                pointer-events: none;
                z-index: -1;
            }
    }
    // .sections-one{
        .line-1{
            list-style: none;
            flex: 1;
            text-align: left;
            counter-reset: number;
            li{
                line-height: 1.3;
                padding: 0 15px 20px 52px;
                list-style: none;
                position: relative;
                &:before{
                    position: absolute;
                    top: 3px;
                    left: 0;
                    width: 24px;
                    height: 21px;
                    background: url('../img/Blob.svg') no-repeat center / cover;
                    counter-increment: number;
                    content: counter(number) " ";
                    line-height: 18px;
                    color: white;
                    text-align: center;
                    font-weight: bold;
                    font-size: 15px;
                    // padding: 4px 6px;
                }
            }
        }
        .line-2{
            list-style: none;
            flex: 1;
            text-align: left;
            counter-reset: number +5;
            li{
                line-height: 1.3;
                padding: 0 15px 20px 52px;
                list-style: none;
                position: relative;
                &:before{
                    position: absolute;
                    top: 3px;
                    left: 0;
                    width: 24px;
                    height: 21px;
                    background: url('../img/Blob.svg') no-repeat center / cover;
                    counter-increment: number;
                    content: counter(number) " ";
                    line-height: 18px;
                    color: white;
                    text-align: center;
                    font-weight: bold;
                    font-size: 15px;
                    // padding: 4px 6px;
                }
            }
        }
    // }
    .dots{
        list-style: none;
        flex: 1;
        text-align: left;
        li{
            line-height: 1.3;
                padding: 0 15px 20px 52px;
                list-style: none;
                position: relative;
                &:before{
     position: absolute;              
    top: 8px;
    left: 22px;
    width: 6px;
    height: 7px;
    background: url('../img/Blob.svg') no-repeat center / contain;
    content: "";
                   
                }
        }
    }
    
}
.section-five{
    background: #ffffff;
    h2{
        position: relative;
        z-index: 1;
    span{
        display: inline-block;
        padding: 0 15px;
        margin: 0 auto;
        font-size: 22px;
        font-weight: 500;
        font-family: 'Josefin Sans', sans-serif;
        line-height: 1.7;
        color: #15364C;
        z-index: 1;
        background: #fff;
        letter-spacing: 1.77px;
    }
    &:before{
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            content: "";
            background-color: #e7e7e7;
            pointer-events: none;
            z-index: -1;
        }
    }
    form{
    text-align: left;   
    .form-grid{
      
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        .grid-fname{
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-items: flex-start;
            gap: 15px;
            margin-bottom: 15px;
            label{
                font-weight: 500;
                font-family: Poppins,sans-serif;
            font-size: 16px;
            letter-spacing: 0.2px;
            line-height: 120%;
            margin-bottom: 12px;
            display: block;
            color: #2F6079;
            }
            input[type="text"]{
                font-weight: 300;
                font-family: Poppins,sans-serif;
                background-color: white;
                padding: 5px 0 5px 15px;
                border: 1px solid rgba(0,0,0,0.08);
                outline: none;
                resize: none;
                display: block;
                width: 100%;
                border-radius: 8px;
                color: #15364C;
                font-size: 16px;
                display: block;
            }
            select{
                width: 100%;
                font-weight: 300;
                font-family: Poppins,sans-serif;
                background-color: white;
                padding: 5px 0 5px 15px;
                border: 1px solid rgba(0,0,0,0.08);
                outline: none;
                resize: none;
                display: block;
                width: 100%;
                border-radius: 8px;
                color: #15364C;
                font-size: 16px

            }
        }
        .email-grid{
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: flex-start;
            margin-bottom: 15px;
            .email{
                padding-bottom: 24px;
                label{
                    font-weight: 500;
                    font-family: Poppins,sans-serif;
                font-size: 16px;
                letter-spacing: 0.2px;
                line-height: 120%;
                margin-bottom: 12px;
                display: block;
                color: #2F6079;  
                }
                input[type="text"]{
                    font-weight: 300;
                    font-family: Poppins,sans-serif;
                    background-color: white;
                    padding: 5px 0 5px 15px;
                    border: 1px solid rgba(0,0,0,0.08);
                    outline: none;
                    resize: none;
                    display: block;
                    width: 100%;
                    border-radius: 8px;
                    color: #15364C;
                    font-size: 16px;
                    display: block;
                    width: 100%;
                    margin-top: 11px;
                }
            }
            .hear{
                padding-bottom: 24px;
                label{
                    font-weight: 500;
                    font-family: Poppins,sans-serif;
                font-size: 16px;
                letter-spacing: 0.2px;
                line-height: 120%;
                margin-bottom: 12px;
                display: block;
                color: #2F6079;  
                }
                select{
                    width: 100%;
                    font-weight: 300;
                    font-family: Poppins,sans-serif;
                    background-color: white;
                    padding: 5px 0 5px 15px;
                    border: 1px solid rgba(0,0,0,0.08);
                    outline: none;
                    resize: none;
                    display: block;
                    width: 100%;
                    border-radius: 8px;
                    color: #15364C;
                    font-size: 16px
    
                }
            }
        }
        
    }
    .grid-textarea{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 15px;
        margin-top: 10px;
        .text-area-lb{
            label{
                font-weight: 500;
                font-family: Poppins,sans-serif;
            font-size: 16px;
            letter-spacing: 0.2px;
            line-height: 120%;
            margin-bottom: 12px;
            display: block;
            color: #2F6079;   
            }
            textarea{
                font-family: Poppins,sans-serif;
                background-color: white;
                padding: 5px 0px 5px 15px;
                border: 1px solid rgba(0,0,0,0.08);
                // outline: none;
                resize: none;
                width: 100%;
                border-radius: 8px;
                color: rgb(21, 54, 76);
                font-size: 16px;
                display: block;
                height: 130px;
                font-weight: 300;
            }
        }
        
    }
    }
}


.footer{
    padding: 30px 0;
    background-color: #15364c;
    color: #fff;
    height: auto;

     div{
                    .ft-one{
                        max-width: 85px;
                        text-align: center;
                        width: 100%;
                        margin: auto;
                        padding-bottom: 20px;
                    }
                        ul{
                            list-style:none;
                            li{
                                a{
                                    text-transform: uppercase;
                                    text-decoration: none;
                                    font-size: 15px;
                                    font-family: 'Josefin Sans', sans-serif;
                                    font-weight: 400;
                                    font-style: normal;
                                    color: #ffffff;
                                    line-height: 31px;
                                    letter-spacing: 1.2px;
                                }
                            }
                            
                        }
                     .ul-test{
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        text-align: center;
                        grid-area: socialSpace;
                        li{
                            list-style: none;
                            a{
                                color: #ffffff;
                                margin-left: 8px;
                                margin-right: 8px;
                            }
                        }
                    }
      
    }

}



//menu
#menu-wrapper {
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
    #hamburger-menu {
        position: relative;
        width: 25px;
        height: 20px;
        margin: 15px;
        span {
            opacity: 1;
            right: 0px;
            display: block;
            width: 100%;
            height: 2px;
            border-radius: 10px;
            color: black;
            background-color: white;
            position: absolute;
            transform: rotate(0deg);
            transition: .4s ease-in-out;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 9px;
            }
            &:nth-child(3) {
                top: 9px;
            }
        }
        
    }
}





#menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0;
}
#menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 9px;
}
#menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 18px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(1) {
    transform: translateY(9px) rotate(135deg);
}
#menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(-60px);
}
#menu-wrapper #hamburger-menu.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-135deg);
}

#menu-container .menu-list .menu-submenu {
    padding-top: 20px;
    padding-bottom: 20px;
}
#menu-container .menu-list {
    padding-left: 0;
    display: block;
    position: absolute;
    width: 100%;
    max-width: 450px;
    background: white;
    box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    right: -100%;
}

#menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
    font-size: 16px;
    padding: 20px;
    text-transform: uppercase;
    border-top: 1px solid #dbdcd2;
}
#menu-container .menu-list li:first-of-type {
    border-top: 0;
}

.accordion-toggle, .accordion-content {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    letter-spacing: 1px;
}

  .accordion-content {
    display: none;
}



.accordion-toggle.active-tab {
  background: yellowgreen;
  transition: all 0.3s ease;
}
.accordion-toggle a.active:before {
    transform: rotate(0deg);
    background: #fff !important;
}

.accordion-toggle a.active:after {
    transform: rotate(180deg);
    background: #fff !important;
    opacity: 0;
}

